<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление водителя</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<a th:href="@{/}">Главная </a>
<a th:href="@{/logout}">Выйти</a>
<h3>Добавление водителя</h3>
<form th:method="POST" th:action="@{/driver/add}" th:object="${driver}">
    <label for="name">Введите имя</label>
    <input type="text" id="name" th:field="*{name}" required placeholder="Имя">
    <br>
    <label for="age">Введите возраст</label>
    <input type="number" min="18" max="65" id="age" th:field="*{age}" required placeholder="20">
    <br>
    <label for="exp">Введите стаж работы</label>
    <input type="number" min="2" max="50" id="exp" th:field="*{exp}" required placeholder="5 лет">
    <br>

    <label for="car">Выберите автомобиль</label>
    <select name="car" id="car">
        <option th:each="car : ${cars}"
                th:value="${car.getId()}"
                th:text="${car.getBrand()}">
        </option>
    </select>
    <br>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>