<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Автомобили</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<a th:href="@{/}">Главная </a>
<a th:href="@{/logout}">Выйти</a>
<br>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/driver/add}">Добавить водителя</a>
</div>

<h3>Список автомобилей</h3>
<table style="border-color: black" border="1px">
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Опыт вождения</th>
        <th>Автомобиль</th>
    </tr>
    <tr th:each="driver : ${drivers}">
        <td><a th:text="${driver.getName()}" th:href="@{driver/show/{id}(id=${driver.getId()})}">driver</a> </td>
        <td th:text="${driver.getAge()}">age</td>
        <td th:text="${driver.getExp()}">exp</td>
        <td th:text="${driver.getCar().getBrand()}">car</td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:method="POST" th:action="@{/driver/delete/{id}(id=${driver.getId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
</table>
</body>
</html>