<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<a th:href="@{/}">Главная </a>
<a th:href="@{/logout}">Выйти</a>
<br>
<a th:href="@{/car}">Автомобили</a>
<br>
<a th:href="@{/driver}">Водители</a>
<br>
<a th:href="@{/fuel}">Топливо</a>
<br>
<a th:href="@{/city}">Города</a>
<br>
<a th:href="@{/order}">Заказы</a>

</body>
</html>